.formСontrol {

}

.error input,
.error textarea {
  border: 2px solid red;
}

.error p {
  color: red;
}

.formSammaryError {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  border: 1px solid red;
  color: red;
}