.dialogs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 5px 10px;
}

.dialogsItems {
}

.dialog a {
  color: #eeeeee;
  text-decoration: none;
}

a.active {
  color: #bc92eb;
}

.messages {
}

.message {
}
